.maincontent-container .about-container {
    max-width: 1001px;
    margin: 0 auto;
    position: relative;
}

section .aboutdiv {
    width: 80%;
    margin: 0 auto;
    margin-top: 650px;
    position: relative;
}

section .devimagediv {
    position: absolute;
    top: -250px;
    left: 9%;
}

.about-container section .devimagediv img {
    width: 200px;
}

section .aboutdiv hr {
    width: 60px;
    margin-right: 10px;
    color: black;
    color: #000000;
    color: hsl(0, 0%, 0%);
    position: relative;
    top: -5px;
    border-radius: 10px;
    border: 1px solid black;
    border: 1px solid #000000;
    border: 1px solid hsl(0, 0%, 0%);
    display: inline-block;
}

section .aboutdiv h2 {
    width: 250px;
    margin: 0 auto;
    position: relative;
    top: -80px;
    left: -15%;
    transform: rotate(-90deg);
    color: #fea055;
    color: hsl(27, 99%, 66%);
    color: rgb(254, 160, 82);
}

section aside {
    width: 60%;
    margin-top: -410px;
    margin-left: 40%;
}

section aside h3 {
    color: #fea055;
    color: hsl(27, 99%, 66%);
    color: rgb(254, 160, 82);
}

section aside p {
    font-size: 14px;
    text-align: justify;
    z-index: 1;
}

.maincontent-container .about-container #shape-four {
    width: 50%;
    float: right;
    margin-top: -1200px;
    z-index: -1;
}

.maincontent-container .about-container #shape-five {
    width: 30%;
    position: absolute;
    top: -150px;
}

.about-container video {
    width: 100%;
}

@media(max-width: 760px) {
    .maincontent-container .about-container {
        margin-top: 200px;
    }

    .about-container {
        width: 100%;
    }

    section .devimagediv {
        width: 200px;
        position: static;
        top: 0px;
        margin: 0 auto;
    }

    section .aboutdiv h2 {
        margin: 0 auto;
        position: relative;
        top: -1050px;
        left: 0%;
        transform: rotate(0deg);
    }

    section aside {
        width: 100%;
        margin-top: -730px;
        margin-left: 0%;
    }

    .maincontent-container .about-container #shape-four {
        margin-right: -0px;
    }
}

@media(max-width: 520px) {
    section .aboutdiv h2 {
        top: -1030px;
        transform: rotate(0deg);
    }

    .maincontent-container .about-container #shape-four {
        width: 70%;
        margin-top: -1400px;
    }

    .maincontent-container .about-container #shape-five {
        width: 50%;
    }
}

@media(max-width: 440px) {
    .maincontent-container .about-container {
        margin-top: 200px;
    }

    section .aboutdiv h2 {
        top: -1010px;
    }
}

@media(max-width: 400px) {
    .maincontent-container .about-container {
        margin-top: 250px;
    }

    section .devimagediv {
        width: 200px;
    }

    section .devimagediv img {
        width: 200px;
    }

    section .aboutdiv h2 {
        top: -980px;
    }

    section aside {
        margin-top: -700px;
    }
}

@media(max-width: 300px) {
    section aside {
        margin-top: -670px;
    }

    .maincontent-container .about-container #shape-four {
        width: 80%;
        margin-top: -1600px;
    }

    .maincontent-container .about-container #shape-five {
        top: 50px;
        width: 50%;
    }
}

@media(max-width: 280px) {
    section .aboutdiv h2 {
        top: -950px;
    }
}